<p>
  <%= t 'mailer.comment_notification.footer.posted', time:  @comment.created_at %>
  <% unless @comment.edited_at.blank? %>
    <br /><%= t 'mailer.comment_notification.footer.edited', time:  @comment.edited_at %>
  <% end %>
</p>

<% if @comment.ultimate_parent.is_a?(Tag) %>

  <%= style_link("#{t 'mailer.comment_notification.footer.read_all', comment:  @comment.ultimate_parent.name}",
    {
      :controller => :comments, 
      :action => :index, 
      :tag_id => @comment.ultimate_parent, 
      :only_path => false
    }) %>
    
  <br />
  
  <% unless @noreply %>
    <%= style_link("#{t 'mailer.comment_notification.footer.reply_to' }",
      {
        :controller => :comments, 
        :action => :index, 
        :tag_id => @comment.ultimate_parent, 
        :only_path => false, 
        :add_comment_reply_id => @comment.id, 
        :anchor => "comment_#{@comment.id}"
      }) %>
    <br />
  <% end %>
  
  <%= style_link("#{t 'mailer.comment_notification.footer.thread_starting' }", 
    {
      :controller => :comments, 
      :action => :index, 
      :tag_id => @comment.ultimate_parent, 
      :only_path => false, 
      :anchor => "comment_#{@comment.id}"
    }) %>
    
  <br />
  
  <% unless @comment.id == @comment.thread %>
    <%= style_link("#{t 'mailer.comment_notification.footer.thread_belongs' }", 
      {
        :controller => :comments, 
        :action => :index, 
        :tag_id => @comment.ultimate_parent, 
        :anchor => "comment_#{@comment.thread}", 
        :only_path => false
      }) %>
  <% end %>
  
<% else %>

  <% unless @noreply %>
    <%= style_link("#{t 'mailer.comment_notification.footer.reply_to' }", 
      comment_url(@comment, :add_comment_reply_id => @comment.id, :only_path => false)) %>
    <br />
  <% end %>
  
  <%= style_link("#{t 'mailer.comment_notification.footer.thread_starting' }", 
    comment_url(@comment, :only_path => false)) %>
  <br />
  
  <% unless @comment.id == @comment.thread %>
    <%= style_link("#{t 'mailer.comment_notification.footer.thread_belongs' }", 
      comment_url(:id => @comment.thread, :only_path => false)) %>
    <br />
  <% end %>
  
  <%= style_link("#{t 'mailer.comment_notification.footer.comments_on', comment:  @comment.ultimate_parent.commentable_name }", 
    polymorphic_url(@comment.ultimate_parent, 
      :view_full_work => true, 
      :show_comments => true, 
      :anchor => :comments, 
      :only_path => false
    )) %>
  
<% end %>
